@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-regular.woff2') format('woff2'), url('../fonts/poppins-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-bold.woff2') format('woff2'), url('../fonts/poppins-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #fff;
  --color-mineShaft: #323232;
  --color-crusta: #f78434;
  --color-fountainBlue: #58bebf;
  --color-silver: #bbb;
  --color-mercury: #e8e8e8;
  --color-alto: #d8d8d8;
  --color-whisper: #f5f6fa;
  --color-scorpion: #606060;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
}

html,
body {
  /*Для .wrapper Это будет нужно для footer*/
  height: 100%;
}

body {
  min-width: 320px;
  font-family: 'Poppins', sans-serif;
  /*Общий шрифт 400*/
  font-weight: 400;
  font-size: clamp(14px, 5vw, 16px);
  line-height: clamp(22px, 5vw, 27px);
  color: var(--color-mineShaft);
}

img {
  vertical-align: top;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p,
a {
  /* перенос слов */
  word-wrap: break-word;
}

ul {
  list-style: none;
}

button {
  /*стрелки у слайдера*/
  background-color: inherit;
  border: none;
}

.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; 
  padding: 18px 37px;
  border-radius: 29px;
  border: 1px solid transparent;
  font-weight: 700;
  text-align: center;
  background-color: var(--color-white);
  cursor: pointer;  
  outline: none;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: 1;
}

.btn:focus {
  border: 1px solid var(--color-mineShaft);
}

.btn:hover, .btn_orange {
  color: var(--color-white);
  background-color: var(--color-crusta);
}

.btn:active {
  opacity: .7;
}

.btn_orange:focus {
  color: var(--color-mineShaft);
  background-color: var(--color-white);
}

.btn_orange:hover {
  color: var(--color-white);
  background-color: var(--color-fountainBlue);
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

[class*="__container"] {
  /*1206px = 1106px + 50px + 50px не менять!*/
  max-width: 1206px;
  margin: 0 auto;
  padding: 0 50px;
}  

.h2 {
  font-size: clamp(25px, 5vw, 42px);
  font-weight: 700;
  line-height: 146.296%;
  letter-spacing: .8px;
}

.h3 {
  font-size: clamp(18px, 5vw, 28px);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.5px;
}

.desc {
  font-size: clamp(14px, 5vw, 16px);
  font-weight: 400;
  /* line-height: 30px; */
  line-height: 168.75%;
  letter-spacing: 1.15px;
} 

::placeholder {
  font-size: clamp(14px, 5vw, 16px);
  line-height: 1.2;
  color: rgb(98, 98, 98);
}

/* Микс border-а в форме 1206px */
.shadow {
  background-color: var(--color-mercury);
}
/* // Микс border-а в форме 1206px */

/* Микс формы form-1206px */
.form {  
  border-radius: 29px;
}

.form__block {
  margin-right: 25px;
}

.form__block.shadow {
  border-radius: 29px 29px 29px 0;
}

/***Стилазация фразы ошибки***/
.form__label {
  /*общий*/
  position: relative;
}

.js-validate-error-label {
  position: absolute;
  top: -46px;
  left: 7px;
  font-weight: 400;
  font-size: clamp(14px, 5vw, 18px);
}
/*** // Стилазация фразы ошибки***/

.form__label::before {
  content: "";
  background: url("../img/envelope.svg") 0 0 no-repeat;
  z-index: 10;
  width: 24px;
  height: 19px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
  left: 28px;
}

.form__input {
  padding: 20px 20px 18px 70px;
  border-radius: 29px;
  border: 1px solid transparent;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  color: var(--color-mineShaft);
  outline: none;
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}  

.form__input::placeholder {
  color: var(--color-silver);
}

.form__input:focus::placeholder {
  color: transparent
}

.form__shadow.shadow {
  border-radius: 29px 29px 0 29px;
}
/* // Микс формы form-1206px */

/*** Шаблон микс modal СПАСИБО 1206px***/
.modal {
  /* Для js перекрыть .modal*/
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  /* // Для js перекрыть .modal*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(232, 232, 232, 0.60);
  backdrop-filter: blur(12.5px);
  
}

.modal_js_active {
  visibility: visible;
  opacity: 1;
}

.modal__sps {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 624px;
  padding: 116px 30px 75px;
  border-radius: 10px;
  min-width: 260px;
  background-color: var(--color-white);
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  overflow: hidden;
}

.modal__sps::before {
  content: "";
  position: absolute;
  margin-top: -40px;
  width: 85%;
  height: 85%;
  background: url("../img/logo.png") top / contain no-repeat;
  opacity: .07;
}

.modal__sps_js {
  display: none;
  opacity: 0;
}

.modal__sps_js_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

/*Модалку модалку перекрыла*/
.modals__modal.modal_js_active .modal__sps_js {
  padding: 75px 30px;
  flex-basis: 520px;
}

.modal__h2 {  
  margin: 0;
  font-weight: 400;
  font-size: clamp(14px, 5vw, 24px);
}
/* // Модалку модалку перекрыла*/

/*Крест выключатель модального окна*/
.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  outline: none;
  border: 1px solid transparent;
  font-size: clamp(14px, 5vw, 25px);
  color: var(--color-lueViolet);
  -webkit-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  -ms-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  -moz-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  -o-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  transition: color .4s ease-in-out, background-color .4s ease-in-out;
  cursor: pointer;
}

.modal__close:focus {
  border: 1px solid var(--color-fountainBlue);
  color: var(--color-fountainBlue);
}

.modal__close:hover {
  color: var(--color-white);
  background-color: var(--color-fountainBlue);
}

.modal__close:active {
  opacity: .7;
}
/*** // Шаблон микс modal СПАСИБО 1206px***/


/*** header(Шапка)-1206px ***/
.header {
  position: fixed;
  padding: 35px 0;
  background-color: var(--color-white);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  margin-right: auto;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.header__logo:focus {
  outline-offset: 8px;
  outline: 1px solid var(--color-fountainBlue);
}

.header__nav {
  margin-top: 4px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  -webkit--gap: 7px 30px;
  -moz--gap: 7px 30px;
  gap: 7px 30px;
  margin: 0;
  padding: 0;
}

.header__item:not(:last-child) {
  margin-right: 10px;
}

.header__link {
  font-size: clamp(14px, 5vw, 16px);
  font-weight: 700;
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.header__link:focus {
  outline: 2px solid var(--color-crusta);
  outline-offset: 4px;
}

.header__link:hover, .header__link--active {
  color: var(--color-crusta);
}

.header__link:active {
  opacity: .7;
}

.burger{
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}
.burger span, .burger span:before, .burger span:after{
  position: absolute;
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 5px;
  background: var(--color-mineShaft);
  transition: .3s;
}
.burger span:before{
  content: "";
  top: -10px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger span{
  top: 10px;
}
.burger span:after{
  content: "";
  bottom: -10px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* Иконки бургера задаём свойства анимации. */
.burger span.active:before{
  content: "";
  top: 0px;
  transform: rotate(45deg);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger span.active:after{
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger span.active{
  background: rgba(255, 255, 255, 0); 
}
/* // Иконки бургера задаём свойства анимации. */
/*** // header(Шапка)-1206px ***/


/*** Найди помещение home-1206px ***/
.home {
  padding: 113px 0 45px;
}

.home__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 48px;
  padding-bottom: 94px;
}

.home__container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 48px;
  bottom: 0;
  border-radius: 40px;
  border-bottom-left-radius: inherit;
  width: 540px;
  height: 100%;
  background: url("../img/home.jpg") center / cover no-repeat;
}

.home__info {
  position: relative;
  padding: 81px 0 39px;
  width: 630px;
  z-index: 1;
}

.home__h2 {
  font-size: clamp(30px, 5vw, 54px);
  margin-bottom: 26px;
  text-align: start;
}

.home__desc {
  margin-bottom: 42px;
  width: 77%;
  text-align: start;
}

.home__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__form.form {  
  width: 459px;
}

.home__form .btn_orange {
  height: 100%;
}
/*** // Найди помещение home-1206px ***/


/*** Логотипы партнёров logos-1206px ***/
.logos {
  padding: 45px 0 43px;
}

.logos__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit--gap: 40px;
  -moz--gap: 40px;
  gap: 40px;
  padding: 0;
}

.logos__img {
  margin: -8px 4px 0 0;
  width: 40px;
  height: 40px;
}

.logos__img_two {
  margin-top: -3px;
  width: 29px;
  height: 32px;
}

.logos__span {
  font-weight: 700;
  font-size: clamp(15px, 5vw, 29px);
  color: var(--color-alto);
}
/*** // Логотипы партнёров logos-1206px ***/


/*** Слайдер provide-1206px ***/
.provide {
  padding: 42px 0 378px;
}

.provide__container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: 1fr 372px;
  -o-grid-template-columns: 1fr 372px;
  -moz-grid-template-columns: 1fr 372px;
  -ms-grid-template-columns: 1fr 372px;
  grid-template-columns: 1fr 372px;
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.provide__mySwiper {
  margin-left: -247px;
  width: 800px;
  height: 550px;
}

.provide__slide img {
  display: block;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.provide__slide:nth-child(2n) img {  
  border-bottom-right-radius: 0;
}

.provide__comment {
  position: absolute;
  bottom: 16%;
  left: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 23px;
  padding: 22px 29px 22px;
  border-radius: 15px;
  width: 344px;
  background-color: var(--color-white);
  z-index: 1;
}

.provide__body {
  /* Стили для резины */
  height: 96px;
  overflow-x: hidden;
}

.provide__body .provide__h2 {
  margin-bottom: 1px;
  font-size: clamp(10px, 5vw, 16px);
}

.provide__info {
  padding: 34px 0;
} 

.provide__info .provide__desc:last-of-type {
  margin-bottom: 40px;
}

.provide__h2 {
  margin-bottom: 21px;
  font-size: clamp(20px, 5vw, 42px);
}

.provide__desc {
  margin-bottom: 21px;
}

.provide__body .provide__desc {
  margin: 0 0 5px;
}
/*** // Слайдер provide-1206px ***/


/*** Наши продукты product-1440px ***/
.product {
  padding: 72px 0;
  height: 700px;
  background-color: var(--color-whisper);
}

.product__padding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-top: -304px;
  padding: 59px 93px 0 0;
  border-radius: 20px;
  background: url("../img/img-product/green.jpg") center / cover no-repeat;
}

.product__img {
  border-top-right-radius: 21.6px;
  border-top: 25px solid var(--color-white);
  border-right: 25px solid var(--color-white);
  width: 54.2%;
  height: auto;
  background: url("../img/img-product/img.jpg") left / cover no-repeat;
}

.product__info {
  padding-bottom: 92px;
  width: 364px;
  color: var(--color-white);
}

.product__h2 {
  margin-bottom: 17px;
}

.product__desc {
  padding-right: 20px;
}

.product__desc:not(:last-child) {
  margin-bottom: 30px;
}

.product__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__button {
  position: relative;
  gap: 5px;
  padding: 18px 40px;
  /* Для :hover */
  transition-duration: 0s;
}

.product__button:nth-child(2) {
  padding: 18px 30px;
}

.product__button.btn_orange:hover {
  color: var(--color-mineShaft);
  background-color: var(--color-whisper);
}

.product__button:hover svg path {
  fill: var(--color-white);
}

.product__button:focus svg path {
  fill: var(--color-mineShaft);
}
/*** // Наши продукты product-1440px ***/


/* Направление server-1440px */
.server {
  margin-top: -357px;
  padding: 0 0 30px;
  text-align: center;
}

.server__h2 {
  margin-bottom: 11px;
}

.server__desc {
  margin: 0 0 44px;
}

.server__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 0;
}

.server__item {
  padding: 40px 90px 42px;
  border-radius: 10px;
  width: 48.6%;
  background-color: var(--color-white);
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
}

.server__item:nth-child(odd) {
  color: var(--color-white);
  background: var(--color-crusta);
}

.server__svg {
  margin: 0 auto 14px;
  width: 80px;
  height: 80px;
}

.server__h3 {
  margin: 0 0 14px;
  font-size: clamp(25px, 5vw, 42px);
  letter-spacing: .8px;
}

.server__item .server__desc:not(:last-child) {
  margin: 0 0 24px;
}

.server__button {
  margin: 0 auto;
  color: var(--color-crusta);
}
/* // Направление server-1440px */


/* О нас about-1440px */
.about {
  padding: 31px 0 60px;
}

.about__h2 {
  margin-bottom: 58px;
  text-align: center;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.about__item {
  /* Отнимаем отступ у маргина, в моём случае у gap */
  flex: 0 1 calc(25% - 25px);
  text-align: center;
}

.about__link {
  display: inline-block;
  margin-bottom: 13px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;  
  /* Для :hover */
  transition-duration: 0s;
  outline: none;
}

.about__link:focus circle, .is-active.about__link circle {
  fill: #f78434;
  fill-opacity: 1;
}

.about__link:focus path, .about__link:hover path, .is-active.about__link path, .about__link:focus ellipse, .about__link:hover ellipse, .is-active.about__link ellipse {
  fill: #fff;
}

.about__link:hover circle {
  fill: #58BEBF;
  fill-opacity: 1;
}   

.about__link:active circle, .about__link:active path, .about__link:active ellipse {
  opacity: .7;
}

.about__h3 {
  margin: 0 0 10px;
}

.about__desc {
  margin: 0;
}
/* // О нас about-1440px */


/* Отзывы reviews-1440px */
.reviews {
  padding: 61px 0 82px;
}

.reviews__container {
  padding: 0 70px 0 28px;
}

.reviews__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 26px 0;
  -webkit--gap: 30px 50px;
  -moz--gap: 30px 50px;
  gap: 30px 50px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.reviews__h2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 454px;
  flex: 0 1 454px;
}

.reviews__text {
  color: var(--color-scorpion);
  -webkit-box-flex: 0 1 398px;
  -ms-flex: 0 1 398px;
  flex: 0 1 398px;
}

.reviews__list {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit--gap: 30px 40px;
  -moz--gap: 30px 40px;
  gap: 30px 40px;
  -webkit-grid-template-columns: repeat(3, 1fr);
  -o-grid-template-columns: repeat(3, 1fr);
  -moz-grid-template-columns: repeat(3, 1fr);
  -ms-grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
}

.reviews__list::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background: url("../img/img-reviews/element.png") center / cover no-repeat;
  -webkit-transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  z-index: 2;
}

.reviews__item {
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.reviews__item:hover {
  -webkit-box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 10px 52px 0px rgba(0, 0, 0, 0.08);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}  

.reviews__imgBtn {
  position: relative;
  margin: 0 0 18px 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.reviews__imgBtn img {
  width: 100%;
}

.reviews__imgBtn:hover .reviews__button {
  display: block;
}

.reviews__button {
  position: absolute;
  right: 38px;
  bottom: -7px;
  display: none;
  width: 50px;
  height: 50px;
  background: url("../img/img-reviews/playBtn.svg") center / cover no-repeat;
  -webkit-transform: translate(50%,-50%);
  -ms-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  z-index: 10;
  cursor: pointer;
}

.reviews__padding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 28px 32px;
  flex: 1 1 auto;
}

.reviews__desc {
  margin-bottom: 22px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.reviews__name {
  font-size: clamp(14px, 5vw, 18px);
  font-weight: 700;
  letter-spacing: 0.6px;
}

.reviews__city {
  letter-spacing: 1.15px;
  color: var(--color-fountainBlue);
}

.reviews__item:hover .reviews__city {
  color: var(--color-crusta);
}
/* // Отзывы reviews-1440px */


/* Эксперт expert-1440px */
.expert {
  background: url("../img/expert-background.png") bottom / cover no-repeat;
}

.expert__container {
  /* display: flex;
  column-gap: 16.33%; */
  position: relative;
}

.expert__info {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 122px 0 55px 0;
  width: 350px;
  color: var(--color-white);
  z-index: 1;
}

.expert__link {
  align-self: flex-start;
  padding: 17px 39px 11px;
  color: var(--color-crusta);
}

.expert__link:not(:last-child) {
  margin-bottom: 25px;
}

.expert__h2 {
  margin-bottom: 0;
}

.expert__text {
  margin-bottom: 30px;
}

.expert__img {
  position: absolute;
  bottom: 0;
  right: 60px;
  margin-top: -55px;
  width: 566px;
}
/* // Эксперт expert-1440px */


/* Подвал footer-1440px */
.footer {
  padding: 87px 0;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: 300px 584px;
  -o-grid-template-columns: 300px 584px;
  -moz-grid-template-columns: 300px 584px;
  -ms-grid-template-columns: 300px 584px;
  grid-template-columns: 300px 584px;
  -webkit--gap: 25px;
  -moz--gap: 25px;
  gap: 25px;
  justify-content: space-between;
}

.footer__logo {
  margin-right: auto;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.footer__logo:focus {
  outline-offset: 8px;
  outline: 1px solid var(--color-fountainBlue);
}

.footer__desc {
  margin-bottom: 38.5px;
}

.footer__nav {
  width: 100%;
}

.footer__list-icone {
  display: flex;
  flex-wrap: wrap;
  -webkit--gap: 28.5px;
  -moz--gap: 28.5px;
  gap: 28.5px;
  align-items: center;
  padding: 0;
}

.footer__link-icone {
  outline: none;
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.footer__link-icone:focus svg path:nth-child(2), .footer__link-icone_linkedin:focus svg path {
  fill: var(--color-fountainBlue);
}

.footer__link-icone:hover svg path:nth-child(2), .footer__link-icone_linkedin:hover svg path {
  fill: var(--color-crusta);
}

.footer__link-icone:active svg path {
  opacity: .7;
}

.footer__right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 25px;
  margin-top: -4px;
}

.footer__right-list {
  padding: 0;
}

.footer__right-list > .footer__right-item:first-child {
  margin-bottom: 19px;
  font-weight: 700;
  font-size: clamp(15px, 5vw, 21px);
}

.footer__right-item:not(:last-child) {
  margin-bottom: 14px;
} 

.footer__right-link {
  border: 1px solid transparent;
  font-size: 14px;
  letter-spacing: 0.5px;
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
/* // Подвал footer-1440px */


@media (max-width: 999px) {
  [class*="__container"] {
    padding: 0 25px;
  }

  /*JS для burger-а*/
  .menu{
    position: absolute;
    top: 0;
    left: -1320px;
    padding: 15px 32px;
    height: auto;
    background-color: var(--color-white);
    transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .menu.animate{
    left: 0;
    width: 87%;
  }
  /* // JS для burger-а*/

  .burger {
    display: block;
    right: 25px;
    width: 25px;
    height: 25px;
  }  

  .burger span, .burger span:before, .burger span:after {
    height: 3px;
  }  

  .header {
    padding: 25px 0;
  }

  .header__nav {
    margin-top: 0;
  }

  .header__list {
    justify-content: inherit;
    -webkit--gap: 7px 15px;
    -moz--gap: 7px 15px;
    gap: 7px 15px;
  }  


  .home {
    padding-bottom: 30px;
  }

  .home__container {
    padding-bottom: 74px;
  }


  .logos {
    padding: 30px 0;
  }


  .provide {
    padding-top: 30px;
  }

  .provide__mySwiper {
    margin-left: 0;
    width: 100%;
  }

  .provide__comment {
    display: none;
  }


  .product__padding {
    padding-right: 20px;
  }

  .product__info {
    width: 40%;
  }

  .product__buttons {
    gap: 25px;
  }

  .product__button {
    justify-content: center;
    width: 100%;
  }


  .server__list {
    flex-wrap: wrap;
  }

  .server__item {
    padding: 40px 20px;
    width: 100%;
  }


  .about {
    padding-bottom: 30px;
  }

  .about__item {
    flex: 0 1 48%;
  }


  .reviews {
    padding: 10px 0 0;
  }

  .reviews__button {
    right: 28px;
    bottom: -3px;
    width: 30px;
    height: 30px;
  }

  .reviews__list {
    -webkit-grid-template-columns: repeat(2, 1fr);
    -o-grid-template-columns: repeat(2, 1fr);
    -moz-grid-template-columns: repeat(2, 1fr);
    -ms-grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .reviews__list::before {
    width: 50px;
    height: 50px;
  }    


  .expert__img {
    right: 0;
    width: 52%;
  }


  .footer__container {
    display: flex;
    flex-direction: column;
  }

  .footer__left {
    order: 2;
  }
  
  .footer__desc {  
    width: 300px;
  }

  
}

@media (max-width: 767px) { 
  .shadow {
    background-color: transparent;
  }


  .menu.animate {
    width: 97%;
  }


  .home__container::before {
    right: 0;
    left: 4%;
    display: block;
    padding: 80px 25px 50px;
    width: 92%;
  }

  .home__info {
    width: 100%;
  }

  .home__h2 {
    text-align: center;
  }

  .home__desc {
    margin: 0 auto 62px;
    width: 88%;
    text-align: center;
  }  

  .home__form {
    justify-content: space-between;
  }

  .home__form.form {
    margin: 0 auto;
    width: 95%;
  }


  .provide {
    padding-bottom: 266px;
  }

  .provide__container {
    display: block;
  }


  .product {
    min-height: 929px;
  }

  .product__padding {
    display: block;
    padding: 60px 30px;
  }  

  .product__img {
    border-radius: 21.6px;
    border: 25px solid var(--color-white);
    width: 100%;
    height: 380px;
  }  

  .product__info {
    padding: 0;
    width: 100%;
    text-align: center;
  }


  .server {
    margin-top: -325px;
  }  


  .about__list {
    display: block;
  }


  .reviews__list {
    display: block;
  }


  .expert__img {
    right: -20%;
    width: 90%;
  }
}

@media (max-width: 444px) {
  .form__block {
    margin: 0 0 25px;
  }

  .form__button {
    display: block;
    width: 100%;
    text-align: center;
  }


  .header__list {
    -webkit--gap: 7px;
    -moz--gap: 7px;
    gap: 7px;
  }


  .home__form {
    display: block;
    background-color: transparent;
  }

  .logos {
    padding-bottom: 23px;
  }


  .provide {
    padding: 22px 0 202px;
  }

  .provide__button {
    display: block;
    width: 100%;
  }


  .product__padding {
    margin-top: -242px;
    padding: 30px 25px;
  }


  .server__button {
    display: block;
    width: 100%;
  }


  .expert__info {
    width: 100%;
  }

  .expert__img {
    width: 100%;
  }

  .expert__link {
    display: block;
    width: 100%;
  }


  .footer__desc {
    width: 100%;
  }
}




/*МИКС - Просто модальное окно, без формы*/
.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	opacity: 0;
	visibility: hidden;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.modal-fix {
	background-color: #fff;
	width: 300px;
	height: 300px;
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
	justify-content: center;
	display: none;
}

.modal-overlay--visible {
	opacity: 1;
	visibility: visible;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: 33;
}

.modal--visible {
	display: block;
}

.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}